* {
	font-family: Arial;
}

body {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: center;
	height: 7.5rem;
}

.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 61.875rem;
}

.logo {
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	align-items: center;
}

nav ul,
nav li {
	list-style: none;
	margin:0;
	padding:0;
}

nav ul {
	display: flex;
}

nav a {
	display: block;
	padding: 0.9375rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #727272;
}

nav .active a,
nav a:hover {
	background-color: #39aae1;
	color: #FFFFFF;
}

#banner {
	display: flex;
	justify-content: center;
	background-image: url('../images/img1.jpg');
	background-position: center;
	background-size: cover;
	height: 41.875rem;
}

.column {
	flex-direction: column;
}

.banner_headline {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner_headline h1 {
	color: #FFFFFF;
	font-size: 4.375rem;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding: 0;
	max-width: 21.875rem;
}

.banner_headline h2 {
	color:#FFFFFF;
	font-size: 1.3125rem;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding: 0;
	max-width: 21.875rem;
	margin-top: 1.875rem;
}

.banner_options {
	display: flex;
}

.banner1,
.banner2,
.banner3 {
	flex: 1;
	color: #FFFFFF;
	padding: 1.25rem;
}

.banner1 {
	background-color:#39aae1;
}

.banner2 {
	background-color:#0079c7;
}

.banner3 {
	background-color:#2b4c99;
}

.banner_title {
	font-size: 1.3125rem;
}

.banner_desc {
	font-size: 0.75rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	max-height: 4.375rem;
	height: 100%;
}

.banner_options a {
	display: inline-block;
	border: 1px solid #FFFFFF;
	padding: 0.3125rem;
	color: #FFFFFF;
	font-size: 0.8125rem;
	text-decoration: none;
}

.timetables {
    margin-top: 1.25rem;
}

.opening_hours {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(21, 103, 158);
    font-size: 0.875rem;
    padding-bottom: 0.8125rem;
    margin-bottom: 0.8125rem;
}

#geral {
	display: flex;
	justify-content: center;
}

#geral section {
	flex: 2;
}

#geral aside {
	flex: 1;
}

.widget_title {
	margin-top: 1.875rem;
	margin-bottom: 1.25rem;
}

.widget_title_text {
	color: #000000;
	font-size: 1.3125rem;
	font-weight: bold;
}

.widget_title_bar {
	width: 3.125rem;
	height: 0.1875rem;
	background-color: #36a9e1;
	margin-top: 0.625rem;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

article {
	flex: 1;
	min-width: 18.75rem;
	margin-right: 1.25rem;
}

article a {
	text-decoration: none;
}

article .news_data {
	display: flex;
}

article .news_posted_at {
	background-color: #2b4c99;
	color: #FFFFFF;
	font-size: 0.75rem;
	padding: 0.625rem;
	margin-right: 0.125rem;
}

article .news_comments {
	background-color: #39aae1;
	color: #FFFFFF;
	font-size: 0.75rem;
	padding: 0.625rem;
	height: 0.875rem;
}

article .news_thumbnail {
	margin-top: 1.875rem;
}

article .news_thumbnail img {
	width: 100%;
	height: auto;
}

article .news_title {
	margin-top: 1.5625rem;
	margin-bottom: 1.5625rem;
	color: #000000;
	font-size: 1.4375rem;
} 

article .news_resume {
	color: #5c5c5c;
	line-height: 1.25rem;
	font-size: 0.875rem;
	margin-bottom: 1.875rem;
}

/*Department*/
.dp_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
}

.dp_content div {
    width: 7.8125rem;
    height: 7.8125rem;
    font-size: 0.75rem;
    color: #FFFFFF;
    background-color: #0079c7;
    padding: 0.3125rem 0.3125rem 0.3125rem 0;
    margin: 0.625rem 0.625rem 0.625rem 0;
    text-align: center;
}

.appointment_content {
    display: flex;
    flex-direction: column;
    
}

.appointment_content div {
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
    border-bottom: 1px solid #627dc7;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}


footer {
	background-color: #1e1e1e;
	display: flex;
	justify-content: center;
}

.footer_menu {
	display: flex;
}

.fm_1, .fm_2, .fm_3 {
	flex: 1;
	color: #FFFFFF;
}

.fm_1 {
	background-color: #39aae1;
}

.fm_2 {
	background-color: #0079c7;
}

.fm_3 {
	background-color: #2b4c99;
}

.footer_menu a {
	display: block;
	text-decoration: none;
	padding: 1.25rem;
	color: #FFFFFF;
}

.footer_area {
	display: flex;
}
.footer_areaitem {
	flex: 1;
	color: #FFFFFF;
}
.flexColumn {
	flex-direction: column;
}

footer .widget_title_text {
	color: #FFFFFF;
}

footer .widget_mc {
    color: #5c5c5c;
    font-size: 0.8125rem;
    margin-right: 3.125rem;
}

footer .widget_mc p{
    padding-bottom: 1.875rem;
}

footer .widget_lp {
	color: #36a9e1;
    font-size: 0.6875rem;
}

footer .widget_lp p {
	line-height: 0.075rem;
}


footer .widget_lp a {
	color: #D5D5D5;
    font-size: 0.8125rem;
    line-height: 0.875rem;
    text-decoration: none;
}

footer .widget_lp a:hover {
	text-decoration: underline;
}

footer .widget_lt {
    color: #5c5c5c;
    font-size: 0.8125rem;
    margin-left: 0.75rem;
}

footer .widget_lt p {
    color: #36a9e1;
    font-size: 0.6875rem;
    line-height: 0.075rem;
}

footer .widget_lt a {
    color: #ffffff;
    text-decoration: none;
}

footer .widget_lt a:hover {
    text-decoration: underline;
}

.fone-mc1 {
    line-height: 0.075rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 0.8125rem;
    display: flex;
    justify-content: space-between;
}

.fone-mc2 {
    line-height: 0.075rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 0.8125rem;
    display: flex;
    justify-content: space-between;
}

.fone-mc3{
    line-height: 0.075rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 0.8125rem;
    display: flex;
    justify-content: space-between;
}

.fone-mc4 {
    line-height: 0.075rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 0.8125rem;
    display: flex;
    justify-content: space-between;
}

.fone-mc4 a { 
    color: #D5D5D5;
    text-decoration: none;
}

.fone-mc4 a:hover {
    text-decoration: underline;
}

.fone1,
.fone2 {
    padding-right: 3.125rem;
}

.social_icon img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.social_icon a img {
    max-width: 1.875rem;
}

.social_icon:hover a img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.icon1,
.icon2,
.icon3,
.icon4 {
    margin-top: 1.875rem;
    margin-right: 0.3125rem;
    margin-bottom: 1.875rem;
    display: inline-block;
}

.footer_copy {
	border-top: 1px solid #2c2c2c;
	height: 2.5rem;
	line-height: 2.5rem;
	color: #5c5c5c;
	font-size: 0.75rem;
	margin-top: 1.875rem;
}

.menuMobile {
	display:none;
	width: 2.5rem;
	height: 2.5rem;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	margin-right: 1.25rem;
}

.mm_line {
	height:3px;
	background-color:#39aae1;
}

@media screen and (max-width:600px) {

	.banner_headline {
		padding: 1.25rem;
	}
	.banner_headline h1 {
		font-size: 3.4375rem;
	}
	.banner_headline h2 {
		font-size: 1.0625rem;
	}

	.banner_options {
		height: auto;
		flex-direction: column;
	}

	.container {
		flex-direction: column;
	}

	#geral {
		margin-top: 3.125rem;
	}

	#geral section,
	#geral aside {
		padding: 1.25rem;
	}

	.footer_menu {
		flex-direction:column;
	}
	.footer_area {
		flex-direction: column;
		padding: 1.25rem;
	}

	.footer_copy {
		padding-left: 1.25rem;
	}

	header .container {
		flex-direction: row;
	}

	nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
	    left: 0;
	    width: 100%;
	    background-color: #FFFFFF;
	}

	header {
		height: auto;
	}

	.logo {
		padding-left: 1.25rem;
	}

	.menuMobile {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}


































